[submodule "graph"]
    path = src/packfire/graph
    url = http://github.com/packfire/packfire-dijkstra.git
[submodule "application"]
    path = src/packfire/generator/resource/application
    url = http://github.com/packfire/app-structure.git
