[submodule "moustache"]
        path = packfire/template/moustache
        url = git@github.com:packfire/packfire-moustache.git
[submodule "graph"]
        path = packfire/graph
        url = git@github.com:packfire/packfire-dijkstra.git
[submodule "public"]
	path = public
	url = git@github.com:packfire/app-structure.git
[submodule "packfire/generator/resource/application"]
	path = packfire/generator/resource/application
	url = git@github.com:packfire/app-structure.git
