
# perform rewrite operations to FCP
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    
    # the usual access
    RewriteRule ^(.*)/*$ index.php/$1 [L,QSA]

    # prevent access to application files
    RewriteRule ^pack(.*)/*$ index.php/$1 [L,QSA]

</IfModule>
