# Packfire Framework
#
# this file provides configuration for Travis Continuous Integration
# See Packfire on TravisCI at http://travis-ci.org/packfire/framework

language: php
php:
  - 5.3
  - 5.3.3
  - 5.4
before_script:
  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('password') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
  - pecl install memcache
  - echo "extension=memcache.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"
  - composer install
script: phpunit -c phpunit.dist.xml
after_script:
  - git clone git://gist.github.com/3939260.git pdc
  - php pdc/pdc src vendor/autoload.php