# Packfire Framework
#
# this file provides configuration for Travis Continuous Integration
# See Packfire on TravisCI at http://travis-ci.org/packfire/framework

language: php
php:
  - 5.3
  - 5.3.3
  - 5.4
before_script:
  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root -ppassword
script: sh packfire.sh test