/* 
    Document   : dark
    Created on : Feb 18, 2012, 1:38:45 PM
    Author     : Sam-Mauris Yong / mauris@hotmail.sg
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background:#333;
    color: #F5F5F5;
}

a, a:visited{
    color:#FFF;
    text-decoration:underline;
}

a:hover{
    color:#FFCC00;
    text-decoration:none;
}

#themeSwitch a, #themeSwitch a:visited {
    background:#EE9922;
    color:#FFF;
}

#themeSwitch a:hover{
    background:#333;
    color:#FFF;
}
