/* 
    Document   : dark
    Created on : Feb 18, 2012, 1:38:45 PM
    Author     : Sam-Mauris Yong / mauris@hotmail.sg
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background:#333;
    color: #F5F5F5;
}

