/* 
    Document   : global
    Created on : Feb 18, 2012, 1:39:38 PM
    Author     : Sam-Mauris Yong / mauris@hotmail.sg
    Description:
        Purpose of the stylesheet follows.
*/

*{
    padding:0;
    border:none;
    margin:0;
}

body{
    font: normal 14px/1.5 'Lucida Grande', 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
}

h1{
    font-weight:normal;
    font-size:32px;
}

#universe{
    width:550px;
    margin:20px auto;
}

#message{
    padding-bottom: 40px;
}

#version{
    float:right;
}

#themeSwith{
    padding: 10px;
}

#themeSwitch a, #themeSwitch a:visited{
    padding: 5px 10px;
    text-decoration:none;
    margin: 0px 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}