/* 
    Document   : light
    Created on : Feb 18, 2012, 1:39:32 PM
    Author     : Sam-Mauris Yong / mauris@hotmail.sg
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background:#F5F5F5;
    color: #333;
}

