<!DOCTYPE html>
<html>
    <head>
        <title>{title}</title>
        <link rel="shortcut icon" href="packfire-favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="assets/styles/global.css" />
        <link rel="stylesheet" type="text/css" href="assets/styles/{theme.style}.css" />
    </head>
    <body>
        <div id="universe">
            <img src="assets/images/packfire.biglogo.{theme.style}.png" alt="" />
            <h1>{title}</h1>
            <div>{message}</div>
        </div>
    </body>
</html>
